//COLORS
$primary-50: #E3F2FD;
$primary-500: #2196F3;
$primary-text: #000;
$text-placeholder: rgba(0, 0, 0, 0.6);

//FONTS

$font-karla: 'Karla', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//BREAKPOINTS

$screen-mobile-min: 576px;

$screen-tablet-min: 768px;

$screen-desktop-min: 1200px;
