@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "variables";
@import "breakpoints"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 24px;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  @include desktop() {
    width: 1020px;
    padding: 0;
  }
}